*{
    background-color: black;
    color: white;
    font-family: 'Poppins'
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    font-weight: bold;
}
.header a{
    padding-left: 10px;
    padding-right: 30px;
}
.text1{
    padding-top: 150px;
}
.textone{
    display: flex;
}
.header button{
    background-color: rgb(9, 165, 9);
    color: black;
    border-radius: 50px;
    padding: 10px;
    font-weight: bold;
    border: none;
}
.text2{
    padding-top: 150px;
}
.video-2{
    position: relative;
}
.video-text{
    position: absolute;
    top: 300px;
    left: 10px;
    background-color: transparent;
}
.video-text pre {
    background-color: transparent;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins';
}
.btn2{
    background-color: rgb(9, 165, 9);
    color: black;
    border-radius: 50px;
    padding: 10px;
    font-weight: bold;
    border: none;
}
.btn3{
    background-color: rgb(28, 26, 26);
    color: white;
    border-radius: 50px;
    padding: 10px;
    font-weight: bold;
    border: white;
    border: solid;
}
.flinks{
    display: flex;
    justify-content: space-between;
    padding: 200px;
}
.title{
    color: gray;
}
.at{
    text-align: center;
    font-size: 15px;
}
.logo{
    font-size: 30px;
}
.stext{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.buttons{
    padding-left: 120px;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    color: rgb(9, 165, 9);
}
.btn2:hover{
    font-size: 15px;
    background-color: rgb(37, 185, 37);
}
.btn3:hover{
    font-size: 15px;
    background-color: black;
}
.pricing{
    display: flex;
    justify-content: space-between;
    padding: 80px 200px;
    background-color: rgb(34, 32, 32);
}
.box1{
    border: solid;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
    border: none;
}
.box2{
    border: solid;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
    border: none;
}
.box3{
    border: solid;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
    border: none;
}
.btnlite{
    background-color: rgb(102, 218, 218);
    color: black;
    border-radius: 50px;
    padding: 10px 50px;
    font-weight: bold;
    border: none;
}
.btnstndrd{
    background-color: rgb(9, 165, 9);
    color: black;
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: bold;
    border: none;
}
.btnpltnm{
    background-color: rgb(226, 226, 27);
    color: black;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
}
.btnlitex{
    padding-top: 120px;
    padding-left: 40px;
}
.btnstndrdx{
    padding-top: 75px;
    padding-left: 50px;
}
.btnpltnmx{
    padding-top: 10px;
    padding-left: 50px;
}
.btnlite:hover{
    font-size: 15px;
    background-color: rgb(155, 245, 245);
}
.btnstndrd:hover{
    font-size: 15px;
    background-color: rgb(37, 185, 37);
}
.btnpltnm:hover{
    font-size: 15px;
    background-color: rgb(227, 227, 80);
}
